@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,300);
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

html, body, .bg {
  height: 100%;
}

.page {
  height: 100%;
  position: relative;
}

.header {
  padding: 20px 0;
  height: 130px;
  text-align: center;
  background: white;
}

.header img.logo {
  margin: 0 auto;
}

.line {
  height: 40px;
  background: #d07fc5;
}

.wrap-content {
  position: absolute;
  padding-top: 170px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media screen and (max-width:479px){
  .wrap-content {
    height:auto;
  }
}

.wrap-content .content {
  background: url("../images/Taylor-Swift-banner.png") no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}


.wrap-content .content:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
}

.wrap-content .content .container-full, .wrap-content .content .row-full, .wrap-content .content .col-full {
  height: 100%;
}

.wrap-content .content .wrap-left, .wrap-content .content .wrap-right {
  background: rgba(255,255,255,0.6);
  height: 100%;
  display: table;
  padding: 20px;
}

.wrap-content .content .wrap-left .table-cell, .wrap-content .content .wrap-left .wrap-form, .wrap-content .content .wrap-right .table-cell, .wrap-content .content .wrap-right .wrap-form {
  display: table-cell;
  vertical-align: top;
}
.wrap-content-left, .wrap-form{
  padding-top:80px;
}
@media screen and (max-width:479px){
  .wrap-content-left, .wrap-form {
    padding-top:20px;
  }
}

.wrap-content .content .wrap-left .table-cell .wrap-content-left h2.title, .wrap-content .content .wrap-left .wrap-form .wrap-content-left h2.title, .wrap-content .content .wrap-right .table-cell .wrap-content-left h2.title, .wrap-content .content .wrap-right .wrap-form .wrap-content-left h2.title {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  color: #812571;
}

.wrap-content .content .wrap-left .table-cell .wrap-content-left p.content-left, .wrap-content .content .wrap-left .wrap-form .wrap-content-left p.content-left, .wrap-content .content .wrap-right .table-cell .wrap-content-left p.content-left, .wrap-content .content .wrap-right .wrap-form .wrap-content-left p.content-left {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  line-height: 24px;
  color: #812571;
  margin-bottom:10px;
}

.wrap-content .content .wrap-left .table-cell .box, .wrap-content .content .wrap-left .wrap-form .box, .wrap-content .content .wrap-right .table-cell .box, .wrap-content .content .wrap-right .wrap-form .box {
  margin-bottom: 30px;
  text-align: center;
}

.wrap-content .content .wrap-left .table-cell .box h2.title, .wrap-content .content .wrap-left .wrap-form .box h2.title, .wrap-content .content .wrap-right .table-cell .box h2.title, .wrap-content .content .wrap-right .wrap-form .box h2.title {
  font-size: 25px;
  color: #3a4651;
  margin-bottom: 10px;
  font-weight: 600;
  position: relative;
}

@media screen and (max-width: 767px) {
  .wrap-content .content .wrap-left .table-cell .box h2.title, .wrap-content .content .wrap-left .wrap-form .box h2.title, .wrap-content .content .wrap-right .table-cell .box h2.title, .wrap-content .content .wrap-right .wrap-form .box h2.title {
    font-size: 18px;
  }
}

.wrap-content .content .wrap-left .table-cell .box h2.title.pupple, .wrap-content .content .wrap-left .wrap-form .box h2.title.pupple, .wrap-content .content .wrap-right .table-cell .box h2.title.pupple, .wrap-content .content .wrap-right .wrap-form .box h2.title.pupple {
  color: #a91d4f;
}

.wrap-content .content .wrap-left .table-cell .box h2.title.title-img:before, .wrap-content .content .wrap-left .wrap-form .box h2.title.title-img:before, .wrap-content .content .wrap-right .table-cell .box h2.title.title-img:before, .wrap-content .content .wrap-right .wrap-form .box h2.title.title-img:before {
  content: '';
  position: absolute;
  left: 50px;
}

@media screen and (max-width: 979px) {
  .wrap-content .content .wrap-left .table-cell .box h2.title.title-img:before, .wrap-content .content .wrap-left .wrap-form .box h2.title.title-img:before, .wrap-content .content .wrap-right .table-cell .box h2.title.title-img:before, .wrap-content .content .wrap-right .wrap-form .box h2.title.title-img:before {
    left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .wrap-content .content .wrap-left .table-cell .box h2.title.title-img:before, .wrap-content .content .wrap-left .wrap-form .box h2.title.title-img:before, .wrap-content .content .wrap-right .table-cell .box h2.title.title-img:before, .wrap-content .content .wrap-right .wrap-form .box h2.title.title-img:before {
    left: 0px;
    top: -8px;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
  }
}

.wrap-content .content .wrap-left .table-cell .box h2.title.retailer:before, .wrap-content .content .wrap-left .wrap-form .box h2.title.retailer:before, .wrap-content .content .wrap-right .table-cell .box h2.title.retailer:before, .wrap-content .content .wrap-right .wrap-form .box h2.title.retailer:before {
  width: 36px;
  height: 29px;
  background: url("../images/ic-home.png") no-repeat;
}

.wrap-content .content .wrap-left .table-cell .box h2.title.Entrep:before, .wrap-content .content .wrap-left .wrap-form .box h2.title.Entrep:before, .wrap-content .content .wrap-right .table-cell .box h2.title.Entrep:before, .wrap-content .content .wrap-right .wrap-form .box h2.title.Entrep:before {
  width: 36px;
  height: 32px;
  background: url("../images/ic-vest.png") no-repeat;
}

.wrap-content .content .wrap-left .table-cell .box h2.title.sale:before, .wrap-content .content .wrap-left .wrap-form .box h2.title.sale:before, .wrap-content .content .wrap-right .table-cell .box h2.title.sale:before, .wrap-content .content .wrap-right .wrap-form .box h2.title.sale:before {
  width: 26px;
  height: 32px;
  background: url("../images/ic-phone.png") no-repeat;
}

.wrap-content .content .wrap-left .table-cell .box p.sub-box, .wrap-content .content .wrap-left .wrap-form .box p.sub-box, .wrap-content .content .wrap-right .table-cell .box p.sub-box, .wrap-content .content .wrap-right .wrap-form .box p.sub-box {
  font-size: 12px;
  color: #3a4651;
}

.wrap-content .content .wrap-left .table-cell .box p.sub-box.pupple, .wrap-content .content .wrap-left .wrap-form .box p.sub-box.pupple, .wrap-content .content .wrap-right .table-cell .box p.sub-box.pupple, .wrap-content .content .wrap-right .wrap-form .box p.sub-box.pupple {
  color: #a91d4f;
}

.wrap-content .content .wrap-right {
  background: none;
  width: 100%;
}

.wrap-content .content .wrap-right .wrap-form .list-error {
  list-style-type: none;
}

.wrap-content .content .wrap-right .wrap-form input, .wrap-content .content .wrap-right .wrap-form textarea, .wrap-content .content .wrap-right .wrap-form select {
  border: 1px solid #a91d4f;
  color: #a91d4f;
  font-size: 14px;
  border-radius: 3px;
}

.wrap-content .content .wrap-right .wrap-form input[type="text"], .wrap-content .content .wrap-right .wrap-form input[type="email"] {
  padding: 10px 15px;
}

.wrap-content .content .wrap-right .wrap-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a91d4f;
}

.wrap-content .content .wrap-right .wrap-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #a91d4f;
}

.wrap-content .content .wrap-right .wrap-form input[type="submit"] {
  padding: 8px 10px;
  border-radius: 3px;
  border: 1px solide #a91d4f;
  font-size: 14px;
  text-transform: uppercase;
  background: white;
  font-weight: 600;
}

.wrap-content .content .wrap-right .wrap-form .col {
  float: left;
  width: 60%;
}

.wrap-content .content .wrap-right .wrap-form .col.right {
  width: 40%;
}

@media screen and (max-width: 767px) {
  .wrap-content .content .wrap-right .wrap-form .col {
    width: 100%;
    float: none;
  }
  .wrap-content .content .wrap-right .wrap-form .col.right {
    width: 100%;
  }
}

.wrap-content .content .wrap-right .wrap-form .btn-refresh {
  cursor: pointer;
}

.wrap-content .content .wrap-right .wrap-form .refreshcaptcha, .wrap-content .content .wrap-right .wrap-form .btn-refresh {
  display: inline-block;
}

.content .content-thanks {
  padding: 200px 20px;
  text-align: center;
  background: white;
}

 .content .content-thanks h2.title {
  font-size: 40px;
  color: #a91d4f;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}

.content .content-thanks p.text-thanks {
  font-size: 20px;
  color: #a91d4f;
  font-family: 'Raleway', sans-serif;
}

.footer {
  background: #404040;
}

.footer .inner-footer, .footer .inner-under-footer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 25px 0;
}

.footer .inner-footer .col-footer, .footer .inner-under-footer .col-footer {
  float: left;
  padding: 0 15px;
}

@media screen and (max-width: 479px) {
  .footer .inner-footer .col-footer, .footer .inner-under-footer .col-footer {
    float: none;
  }
}

.footer .inner-footer .wrap-logo-footer, .footer .inner-under-footer .wrap-logo-footer {
  width: 15%;
}

@media screen and (max-width: 979px) {
  .footer .inner-footer .wrap-logo-footer, .footer .inner-under-footer .wrap-logo-footer {
    width: 20%;
  }
}

@media screen and (max-width: 479px) {
  .footer .inner-footer .wrap-logo-footer, .footer .inner-under-footer .wrap-logo-footer {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer .inner-footer .wrap-logo-footer img, .footer .inner-under-footer .wrap-logo-footer img {
    margin: 0 auto;
  }
}

.footer .inner-footer .wrap-nav-footer, .footer .inner-under-footer .wrap-nav-footer {
  width: 30%;
}

@media screen and (max-width: 979px) {
  .footer .inner-footer .wrap-nav-footer, .footer .inner-under-footer .wrap-nav-footer {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  .footer .inner-footer .wrap-nav-footer, .footer .inner-under-footer .wrap-nav-footer {
    width: 50%;
  }
}

@media screen and (max-width: 479px) {
  .footer .inner-footer .wrap-nav-footer, .footer .inner-under-footer .wrap-nav-footer {
    width: 100%;
    margin-bottom: 10px;
  }
}

.footer .inner-footer .wrap-nav-footer .common-nav, .footer .inner-under-footer .wrap-nav-footer .common-nav {
  float: left;
  width: 40%;
}

@media screen and (max-width: 479px) {
  .footer .inner-footer .wrap-nav-footer .common-nav, .footer .inner-under-footer .wrap-nav-footer .common-nav {
    width: 50%;
  }
}

.footer .inner-footer .wrap-nav-footer ul.nav-footer, .footer .inner-under-footer .wrap-nav-footer ul.nav-footer {
  list-style: none;
}

@media screen and (max-width: 479px) {
  .footer .inner-footer .wrap-nav-footer ul.nav-footer, .footer .inner-under-footer .wrap-nav-footer ul.nav-footer {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

.footer .inner-footer .wrap-nav-footer ul.nav-footer > li a, .footer .inner-under-footer .wrap-nav-footer ul.nav-footer > li a {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #cccccc;
}

.footer .inner-footer .wrap-nav-footer ul.nav-footer > li a:hover, .footer .inner-footer .wrap-nav-footer ul.nav-footer > li a:focus, .footer .inner-under-footer .wrap-nav-footer ul.nav-footer > li a:hover, .footer .inner-under-footer .wrap-nav-footer ul.nav-footer > li a:focus {
  text-decoration: none !important;
  outline: none !important;
}

.footer .inner-footer .wrap-nav-footer ul.nav-footer > li ul.subnav-footer, .footer .inner-under-footer .wrap-nav-footer ul.nav-footer > li ul.subnav-footer {
  margin-top: 10px;
  list-style: none;
}

.footer .inner-footer .wrap-nav-footer ul.nav-footer > li ul.subnav-footer > li a, .footer .inner-under-footer .wrap-nav-footer ul.nav-footer > li ul.subnav-footer > li a {
  display: block;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #cccccc;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.footer .inner-footer .wrap-nav-footer ul.nav-footer > li ul.subnav-footer > li a:hover, .footer .inner-footer .wrap-nav-footer ul.nav-footer > li ul.subnav-footer > li a:focus, .footer .inner-under-footer .wrap-nav-footer ul.nav-footer > li ul.subnav-footer > li a:hover, .footer .inner-under-footer .wrap-nav-footer ul.nav-footer > li ul.subnav-footer > li a:focus {
  text-decoration: none !important;
  outline: none !important;
}

.footer .inner-footer .wrap-social, .footer .inner-under-footer .wrap-social {
  width: 15%;
}

@media screen and (max-width: 979px) {
  .footer .inner-footer .wrap-social, .footer .inner-under-footer .wrap-social {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  .footer .inner-footer .wrap-social, .footer .inner-under-footer .wrap-social {
    width: 25%;
  }
}

@media screen and (max-width: 479px) {
  .footer .inner-footer .wrap-social, .footer .inner-under-footer .wrap-social {
    width: 60%;
    margin: 0 auto;
  }
}

.footer .inner-footer .wrap-social .box-social, .footer .inner-under-footer .wrap-social .box-social {
  display: inline-block;
  padding: 0 5px;
  margin-bottom: 10px;
}

.under-footer {
  background: #333333;
}

.under-footer .inner-under-footer {
  color: #cccccc;
  padding: 20px 0;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .under-footer .inner-under-footer {
    font-size: 12px;
  }
}

.under-footer .inner-under-footer .left-under, .under-footer .inner-under-footer .right-under {
  float: left;
  width: 50%;
  font-family: "Playfair Display";
}

@media screen and (max-width: 479px) {
  .under-footer .inner-under-footer .left-under, .under-footer .inner-under-footer .right-under {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .under-footer .inner-under-footer .left-under {
    float: none;
    margin-bottom: 10px;
    text-align: center;
  }
}

.under-footer .inner-under-footer .right-under {
  text-align: right;
}

@media screen and (max-width: 479px) {
  .under-footer .inner-under-footer .right-under {
    float: none;
    text-align: center;
  }
}


/*CUSTOMIZE SELECT*/
.tzSelect{
  border: 1px solid #a91d4f;
  color: #a91d4f;
  font-size: 14px;
  border-radius: 3px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  position:relative;
}
.tzSelect .dropDown{
  padding: 6px 12px;
  background:white;
  border: 1px solid #a91d4f;
  border-radius: 3px;
  position:absolute;
  list-style:none;
  width:100%;
  left:0;
  top:101%;
}
.selectBox:after{
  content:'\f0d7';
  font-family: FontAwesome;
  position:absolute;
  top:6px;
  right:6px;
  z-index: 10;
}
.tzSelect .dropDown li{
  cursor:pointer;
  border-bottom:1px solid #a91d4f;
  padding:5px 0;

}
.tzSelect .dropDown li:hover{
  background:rgba(237,237,237,0.7);
}
.tzSelect .dropDown li:last-child{
  border:none;
}